<h4><small> REACTIVE </small>Forms</h4>
<hr>
<form autocomplete="off"
      [formGroup]="myReactiveForm"
      (ngSubmit)="onSubmit()">

  <div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Name</label>
      <div class="-md-8">
        <input class="form-control"
               [class.is-invalid]="formControlIsInvalid('name')"
               type="text"
               placeholder="Name"
               formControlName="name">
        <small class="form-text text-danger"
               *ngIf="formControlIsInvalid('name')">
          Name must be at least 5 letters
        </small>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Lastname</label>
      <div class="-md-8">
        <input class="form-control"
               [class.is-invalid]="formControlIsInvalid('lastname')"
               type="text"
               placeholder="Lastname"
               formControlName="lastname">
        <small class="form-text text-danger"
               *ngIf="formControlIsInvalid('lastname')">
          {{ errorMessageLastname }}
        </small>
      </div>
    </div>

  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Email</label>
    <div class="">
      <input class="form-control"
             [class.is-invalid]="formControlIsInvalid('email')"
             type="email"
             placeholder="Email"
             formControlName="email">
      <small class="form-text text-danger"
             *ngIf="formControlIsInvalid('email')">
        Email must be a valid email
      </small>
    </div>
  </div>

  <div class="form-group row mt-2"
       formGroupName="address">
    <label class="col-2 col-form-label">Address</label>
    <div class="col">
      <input type="text"
             class="form-control"
             [class.is-invalid]="formControlIsInvalid('address.district')"
             placeholder="District"
             formControlName="district">
      <small class="form-text text-danger"
             *ngIf="formControlIsInvalid('address.district')">
        District is required
      </small>
    </div>
    <div class="col">
      <input type="text"
             class="form-control"
             [class.is-invalid]="formControlIsInvalid('address.city')"
             placeholder="City"
             formControlName="city">
      <small class="form-text text-danger"
             *ngIf="formControlIsInvalid('address.city')">
        City is required
      </small>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col">
      <p>My hobbies</p>
      <table class="table text-center"
             *ngIf="hobbiesControl.length">
        <thead class="table-dark">
          <tr>
            <th>ID</th>
            <th>Hobbie</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody formArrayName="hobbies">
          <!-- 'hobbies is a getter' -->
          <tr *ngFor="let control of hobbiesControl.controls; let myIndex = index">
            <td>{{ myIndex + 1 }}</td>
            <td>
              <input type="text"
                     class="form-control"
                     [class.is-invalid]="formControlArrayIsInvalid(myIndex)"
                     [formControlName]="myIndex">
              <small class="form-text text-danger"
                    *ngIf="formControlArrayIsInvalid(myIndex)">
                Field is required
              </small>
            </td>
            <td>
              <button class="btn btn-danger"
                      type="button"
                      (click)="deleteHobbie(myIndex)">
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="d-grid col-6 mx-auto">
        <button class="btn btn-primary"
                type="button"
                (click)="addHobbie()">
          + Add hobbie
        </button>
      </div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col">
      <label class="form-label">Password</label>
      <input type="password"
             class="form-control"
             [class.is-invalid]="formControlIsInvalid('password')"
             placeholder="Password"
             formControlName="password">
      <small class="form-text text-danger"
             *ngIf="formControlIsInvalid('password')">
        Password is required
      </small>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col">
      <label class="form-label">Confirm Password</label>
      <input type="password"
             class="form-control"
             [class.is-invalid]="formControlIsInvalid('confirm_password')"
             placeholder="Confirm Password"
             formControlName="confirm_password">
      <small class="form-text text-danger"
             *ngIf="formControlIsInvalid('confirm_password')">
        Passwords do not match
      </small>
    </div>
  </div>

  <!-- IMPORTANT: I can use it at anytime -->
  <div class="row">
    <div class="col">
      <label class="form-label">Username</label>
      <input type="text"
             class="form-control"
             [class.is-invalid]="formControlIsInvalid('username')"
             placeholder="Username"
             formControlName="username">
      <small class="form-text text-danger"
             *ngIf="formControlIsInvalid('username')">
        {{ errorMessageUsername }}
      </small>
      <small class="form-text text-primary"
             *ngIf="formControlUsernameIsNotTaken()">
        Username is avalaible
      </small>
    </div>
  </div>

  <div class="row mt-5">
    <div class="d-grid">
      <button type="submit" class="btn btn-outline-primary">
        Save
      </button>
    </div>
  </div>

</form>


<hr>
<code>
  Form is valid?: {{ myReactiveForm.valid }}
  <br>
  Form status: {{ myReactiveForm.status }}
  <br>
</code>

<code>
  Form values:
  <pre>
    {{ myReactiveForm.value | json }}
  </pre>
</code>

<code>
  {{ myReactiveForm.get('username')?.pending }}
</code>
